@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap');
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
}

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

button {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}
.alert {
    position: fixed;
    overflow: hidden;
    left: 50%;
    top: 0;
    transform: translate(-50%,-110%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.7s;
    z-index: 999;
    padding: 10px 20px;
    border-radius: 8px;
}

.alert.error {
    background-color: #D63031;
}
.alert.warrning {
    background-color: #f39c12;
}
.alert.success {
    background-color: #00B894;
}
.alert.showen {
    transform: translate(-50%,50%);
}
.alert p,
.alert span {
    color: #fff;
    margin-inline: 10px;
    display: flex;
    font-size: 16px;
}
.alert span {
    color: #fff;
    margin-inline: 10px;
    display: flex;
    font-size: 20px;
}
@keyframes Loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loading span {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: #215ABD solid 4px;
    border-left: transparent solid 2px;
    animation: Loading 1s linear infinite;
}

@keyframes BtnLoading {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.Btn {
    position: relative;
    border-radius: 8px;
    border: 1px solid #215ABD;
    background-color: #215ABD;
    color: #fff;
}
.Btn:hover {
    outline: 2px solid #215abd4c;
}
.Btn.clicked {
    opacity: 0.7;
    cursor:progress;
}
.header button.clicked::before {
    content: '';
    border-radius: 8px;
    background-color: #215abd;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Btn.clicked::after {
    content: '';
    border-radius: 50%;
    border: #fff solid 2px;
    border-left: transparent solid 2px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    animation: BtnLoading 1s linear infinite;
}
.Btn.disabled {
    opacity: 0.6;
    cursor:not-allowed;
}

